# dependencies
**/node_modules
ui/.pnp
ui/.pnp.js

# testing
ui/coverage

# next.js
ui/.next/
ui/out/

# production
ui/build

# debug
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/.pnpm-debug.log*

# local env files
ui/.env*.local

# vercel
ui/.vercel

# ignore relay-proxy app-specific data
data/relay-proxy/*.json
relay-proxy/data

# misc
*.DS_Store
*.pem
*.todo
