:8080 {
	@websockets {
		header Connection *Upgrade*
		header Upgrade    websocket
	}

	@nostr {
		header Accept application/nostr+json
	}
	
	reverse_proxy @websockets server:8080
	reverse_proxy @nostr server:8080
	reverse_proxy * web:3000

	log {
		output stdout
	}
}
