:3000 {
	root * /app/build
	encode gzip

	@websockets {
		header Connection *Upgrade*
		header Upgrade    websocket
	}

	@nostr {
		header Accept application/nostr+json
	}
	
	reverse_proxy @websockets {$RELAY_HOST}:{$RELAY_PORT}
	reverse_proxy @nostr {$RELAY_HOST}:{$RELAY_PORT}
	
	file_server

	log {
		output stdout
	}
}
